*{
    margin: 0;
    padding: 3;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1 {
    margin-left: 15%; 
    align-items: center;
    font-family: 'Anton';
    color: #267fdf;
    padding: 90px;
    font-size: 35px;

}
.acabou {
    margin-left: 35%; 
    align-items: center;
    font-family: 'Anton';
    color: #267fdf;
    padding: 90px;
    font-size: 35px;
    margin-bottom: -55px;

}
.carol {
    margin-left: 15%; 
    align-items: center;
    font-family: 'Anton';
    color: #267fdf;
    padding: 90px;
    font-size: 40px; 
    margin-bottom: -100px;
}
.texto {
    margin-left: 15%; 
    align-items: center;
    font-family: 'Anton';
    color: #267fdf;
    padding: 90px;
    font-size: 32px;
}
.ali {
    margin-left: 20%; 
    align-items: center;
    font-family: 'Anton';
    color: #267fdf;
    padding: 90px;
    font-size: 35px;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

a{
    font-family: 'Merriweather';
    font-size: 20px;
    text-align: center;
   

}


p {
    font-family: 'Merriweather';
    font-size: 20px;
    align-items: center;
    text-indent: 40px;
}

/* cabeçalho */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff; 
    z-index: 1000;
    
}
nav .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    
}
nav .menu a:hover {
    background-color: #267fdf;
    border-radius: 30px;
    color: #ffffff;
    
}

nav .logo img{
    height: 70px;
   
}

nav .menu {
    display: flex;
   
}


/* Conteudo principal */

.lado {
    padding: 0 15% 15%;
}

li {
    font-size: 20px;
}

.lista-lado {
    margin-left: 80px;
}
img {
    margin-left: 0px;
    width: 100%
}

h2 , h3{ 
    color: #267fdf;
}

h3 {
    font-size: 22px;
}
h2 {
    font-size: 28px;
}
.caixa img {
    height: 400px;
}
.caixa {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-left: 35%;
}
.caixa::before, .caixa::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 300%;
    border-radius: 8px;
    animation: AnimarBorda 8s linear alternate infinite;
}

@keyframes AnimarBorda {
    0% {
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}
.caixa::after {
    filter: blur(50px);
}


/* cartao */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 75vh;
    row-gap: 80px;
}
.cards h3{
    color: #fff;
}
.face, .face2, .face3, .face4 , .face5{
    width: 350px;
    height: 300px;
    perspective: 400px;
    display: flex;
    justify-content: center;
}

.face h4, .face2 h4, .face3 h4, .face4 h4, .face5 h4 {
    margin: 0;
    text-align: center;
    font-size: 23px;
}

.front, .front2, .front3, .front4, .front5, .back, .back2, .back3, .back4, .back5 {
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.front2, .front3 {
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

 .front3 h4 {
    padding-bottom: 55px;
}
.front5 h4, .front h4 {
    padding-bottom: 30px;
}

.front2 h4 {
    padding-bottom: 40px;
}

.front, .front2, .front3, .front4, .front5 {
    background: #1985dd;
    z-index: 1;
}

.back, .back2, .back3, .back4, .back5 {
    background: #47bff6;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
}

.back p {
    font-size: 15px;
    text-align: center;
}

.back li , .back2 li, .back3 li, .back4 li, .back5 li{
    font-size: 14px;
}

.face:hover .front, .face2:hover .front2, .face3:hover .front3, .face4:hover .front4, .face5:hover .front5 {
    transform: rotateY(180deg);
    z-index: 0;
}

.face:hover .back, .face2:hover .back2, .face3:hover .back3, .face4:hover .back4, .face5:hover .back5 {
    transform: rotateY(0);
    z-index: 1;
}


.imagem-titulo {
    width: 90px;
   float: left;
}

.video {
    margin-left: 25%;
    margin-right: 35%;
}

/* formulario */
form {
    background-color: #f1f1f1;
    text-align: center;
    border: solid;
    height: 70%;
    border-radius: 20px;
  }
  .formulario {
    padding: 56px;
  }

  label{
    color: #267fdf;
    font-weight: bold;
  }

  input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
    background-color: #267fdf69;
    
    
  }
  
button {
    background-color: #267fdf;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 20px;
    opacity: 0.9;
  }
  
 button {
    opacity:1;
  }